
@{
    Layout = "~/Views/Shared/_LogLayout.cshtml";
}
@section content{
<section class="login_content">
    <form id="frmLogin" method="POST" action="/Login/LogIn">
        <h1>Inicio Sesión</h1>
        <div>
            <input type="text" id="txtUser" name="txtUser" class="form-control" placeholder="Usuario" required="" />
        </div>
        <div>
            <input type="password" id="txtPassword" name="txtPassword" class="form-control" placeholder="Contraseña" required="" />
        </div>
        <div>
            <input type="submit" class="btn btn-default submit" id="btnAccept" name="btnAccept" value="Iniciar" />
        </div>
    </form>
    <div>
        @*@Html.ActionLink("¿Aún no tiene cuenta? Registrese","Index","SignUp")*@
    </div>
</section>
    @if (Request.Cookies["Admin"] != null)
    {
        if (Request.Cookies["Admin"]["adminId"] == "-1")
        {
        <div>
            <font color="red">Correo y/o contraseña invalidos.</font>
        </div>
        }
        else if (Request.Cookies["Admin"]["adminId"] == "-2")
        {
        <div>
            <font color="blue">Primero debe loguearse para acceder al modulo adminsitrativo.</font>
        </div>
            }
        }
    }