@model CuatrivagoProject.Models.ModelForRoomList
@{
    Layout = "~/Views/DetailRoom/Details.cshtml";
}
@section description{
    <p style="color:red">
        tttttttttttttaaaaaaaaaaaaaaaaaaaaa
    </p>
    @Model.room.description_
<p style="color:red">
    tttttttttttttaaaaaaaaaaaaaaaaaaaaa
</p>
}
@section footer{
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 widget widget-about">
                        <h5 class="title">
                            Dirección
                        </h5>
                        <p style="color:white">
                            PO Box 16122 Avenida 0
                            Turrialba
                            Frente de la iglesia catolica
                        </p>
                        <p style="color:white">Visita Cuatrivago, abierto al público todos los días.</p>
                        <ul class="custom-list">
                            <li><a href="#">Ir al mapa</a></li>

                        </ul>
                    </div>
                    <div class="col-md-4 widget widget-about">
                        <h5 class="title">
                            Contacto
                        </h5>
                        <p style="color:white">Fax: 25561343</p>
                        <p style="color:white">Teléfono: @Model.hotel.phone</p>
                        <p style="color:white">Atención al cliente: @Model.hotel.postMail</p>
                        <p style="color:white">Sugerencias: @Model.hotel.email</p>
                    </div>
                    <div class="col-md-4 widget widget-news">
                        <h5 class="title">
                            Enlaces
                        </h5>
                        <ul class="custom-list">
                            <li><a href="#">Habitaciones</a></li>
                            <li><a href="#">Galería</a></li>
                            <li><a href="#">Ubicación</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyrights">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>Copyright 2017© HotelCuatrivago. Todos los derechos reservados. Desarrollado por <a href="#"> CuatrivagoTeam</a></p>
                    </div>
                    <div class="col-md-3">

                        <a href="#">Facebook</a>
                    </div>
                    <div class="col-md-3">
                        <a href="#">Instragram</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
}
