@model IEnumerable<CuatrivagoProjectAdmin.Models.Room>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section moduleTitle{
}


@section content{
    <div id="info">
        <h1 id="glyphicons" class="page-header">Estado habitaciones al día de hoy</h1>
        <table class="table">
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Reservada
                </th>
                <th>
                    Bloqueo
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.description_)
                    </td>
                    @if (item.capacity == 0 || item.unlocked == 0)
                    {
                        <td style="background-color: #ff0000; color: #000000;">Ocupada</td>
                    }
                    else
                    {
                        <td style="background-color: #00ff90; color: #000000;">Disponible</td>
                    }
                    @if (item.unlocked == 1)
                    {
                        <td style="background-color: #00ff90; color: #000000;"><div id="bk_@Html.DisplayFor(modelItem => item.idRoom)">Desbloqueada</div></td>
                    }
                    else
                    {
                        <td style="background-color: #ff0000; color: #000000;"><div id="bk_@Html.DisplayFor(modelItem => item.idRoom)">Bloqueada</div></td>
                    }
                    @if (Request.Cookies["Admin"] != null)
                    {
                        if (Request.Cookies["Admin"]["rol"] != "2")
                        {

                            <script>
                                $('#bk_@Html.DisplayFor(modelItem => item.idRoom)').click(function () {
                                    $.ajax({
                                        type: "POST",
                                        contentType: "application/json; charset=utf-8",
                                        url: "@Url.Action("blockRoom", "StateRoomToday")",
                                        data: "{'id':' @Html.DisplayFor(modelItem => item.idRoom) '}",
                                        dataType: "json",
                                        success: function (answer) {
                                            location.reload();
                                        },
                                        error: function (jqXHR, textStatus, errorThrown) {
                                            alert(errorThrown + ' ' + textStatus);
                                        }
                                    });
                                });;
                            </script>
                        }
                    }
                </tr>
            }

        </table>
    </div>

    <div class="form-group" style="text-align: center">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <button id="imp" class="btn btn-success" type="button">Generar informe</button>
        </div>
    </div>
    <script>
        $('#imp').click(function () {
            $('#info').printThis();
        });
    </script>
}