@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section content{

    <!-- Start Banner -->
<section id="banner">

    <div class="banner-bg">
        <div class="banner-bg-item"><img src="~/Content/img/banner-bg-1.jpg" alt=""></div>
        <div class="banner-bg-item"><img src="~/Content/img/banner-bg-2.jpg" alt=""></div>
        <div class="banner-bg-item"><img src="~/Content/img/banner-bg-3.jpg" alt=""></div>
        <div class="banner-bg-item"><img src="~/Content/img/banner-bg-4.jpg" alt=""></div>
    </div>

    <div class="css-table">
        <div class="css-table-cell">

            <!-- Start Banner-Search -->
            <div class="banner-search">
                <div class="container">
                    <div id="hero-tabs" class="banner-search-inner">
                        <ul class="custom-list tab-title-list clearfix">
                            <li class="tab-title active"><a href="#yachts">Hotel</a></li>
                            <li class="tab-title"><a href="#privjet">Resorts</a></li>
                            <li class="tab-title"><a href="#luxcars">Private suites</a></li>
                            <li class="tab-title"><a href="#cartrans">Bed & breakfast</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Banner-Search -->

        </div>
    </div>
</section>
<!-- End Banner -->
    
}