@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section content{

    <!-- Start Banner -->
    <section id="banner">

        <div class="banner-bg">
            <div class="banner-bg-item"><img src="~/Content/imgInstalations/1.jpg" alt=""></div>
            <div class="banner-bg-item"><img src="~/Content/imgInstalations/2.jpg" alt=""></div>
            <div class="banner-bg-item"><img src="~/Content/imgInstalations/3.jpg" alt=""></div>
            <div class="banner-bg-item"><img src="~/Content/imgInstalations/4.jpg" alt=""></div>
            <div class="banner-bg-item"><img src="~/Content/imgInstalations/5.jpg" alt=""></div>
        </div>

    </section>
    <!-- End Banner -->

    <!-- Start About -->
    <section class="about">
        <div class="container">
            <div class="row">
                <div style="text-align: center; margin-bottom: 50px">
                    <h3>Se ofrecen las siguientes facilidades</h3>
                </div>

                <div class="col-md-3 col-sm-6 feature text-center">
                    <div class="overlay">
                        <img src="~/Content/imgInstalations/bar.jpg" alt="" class="img-responsive">
                        <div class="overlay-shadow">
                                <div class="overlay-content">
                                    <a href="#" class="btn btn-transparent-white">Detalles</a>
                                </div>
                            </div>
                    </div>
                    <h4>Bar</h4>
                </div>

                <div class="col-md-3 col-sm-6 feature text-center">
                    <div class="overlay">
                        <img src="~/Content/imgInstalations/habitacion.jpg" alt="" class="img-responsive">
                        <div class="overlay-shadow">
                                <div class="overlay-content">
                                    <a href="#" class="btn btn-transparent-white">Detalles</a>
                                </div>
                            </div>
                    </div>
                    <h4>Habitación</h4>
                </div>

                <div class="col-md-3 col-sm-6 feature text-center">
                    <div class="overlay">
                        <img src="~/Content/imgInstalations/jacuzzi.jpg" alt="" class="img-responsive">
                        <div class="overlay-shadow">
                                <div class="overlay-content">
                                    <a href="#" class="btn btn-transparent-white">Detalles</a>
                                </div>
                            </div>
                    </div>
                    <h4>Jacuzzi</h4>
                </div>

                <div class="col-md-3 col-sm-6 feature text-center">
                    <div class="overlay">
                        <img src="~/Content/imgInstalations/piscina.jpg" alt="" class="img-responsive">
                        <div class="overlay-shadow">
                            <div class="overlay-content">
                                <a href="#" class="btn btn-transparent-white">Detalles</a>
                            </div>
                        </div>
                    </div>
                    <h4>Piscina</h4>
                </div>

                <div class="col-md-3 col-sm-6 feature text-center">
                    <div class="overlay">
                        <img src="~/Content/imgInstalations/buffet.jpg" alt="" class="img-responsive">
                        <div class="overlay-shadow">
                                <div class="overlay-content">
                                    <a href="#" class="btn btn-transparent-white">Detalles</a>
                                </div>
                            </div>
                    </div>
                    <h4>Buffet</h4>
                </div>

            </div>
        </div>
    </section>
    <!-- End About -->



}
