@model CuatrivagoProject.Models.Hotel
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<!-- Mirrored from new.uouapps.com/petra-html/locations.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 24 Mar 2017 03:20:47 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">

    <link href="~/Content/img/cuatrivago_logo.png" rel="shortcut icon">
    <title>Cuatrivago</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.css">

    <!-- Google Font -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400italic' rel='stylesheet' type='text/css'>

    <style>
        /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
        #mapg {
            height: 400px;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 400px;
            margin: 0;
            padding: 0;
        }

        #floating-panel {
            top: 10px;
            left: 25%;
            z-index: 5;
            background-color: #fff;
            padding: 5px;
            border: 1px solid #999;
            text-align: center;
            font-family: 'Roboto','sans-serif';
            line-height: 30px;
            padding-left: 10px;
        }
    </style>

    <!--[if IE 9]>
      <script src="js/media.match.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- Start Main-Wrapper -->
    <div id="main-wrapper">

        <!-- Start Header -->
        <header id="header">

            <div class="header-navi">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12" id="bs-example-navbar-collapse-1">
                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-sm-12">
                                    <ul class="nav navbar-nav main-nav">
                                        <li>@Html.ActionLink("Inicio", "index", "Index")</li>
                                    </ul>
                                </div>
                                <div class="col-lg-5 col-lg-offset-2 col-md-5 col-md-offset-2 col-sm-12 col-sm-offset-0">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- End Header -->
        <!-- Start Header-Toggle -->
        <div id="header-toggle">
            <i class="fa fa-bars"></i>
        </div>
        <!-- End Header-Toggle -->
        <!-- Start Header-Logo -->
        <div class="header-logo">
            <div class="header-logo-inner">
                <div class="css-table">
                    <div class="css-table-cell">
                        <a href="#">
                            <img src="~/Content/img/cuatrivago_logo.png" alt="" class="img-responsive center-block">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header-Logo -->
        <!-- Start Header-Section -->
        <section class="header-section contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title-section pull-left">
                            Localización
                        </h3>

                    </div>
                </div>
            </div>
        </section>
        <!-- End Header-Section -->
        <!-- MAP -->
        <div>
            <div id="floating-panel">
                <b>Modo de viaje: </b>
                <select id="mode">
                    <option value="DRIVING">Manejando</option>
                    <option value="WALKING">Caminando</option>
                    <option value="BICYCLING">Bicicleta</option>
                    <option value="TRANSIT">Transito</option>
                </select>

                <img src="~/Content/img/origen.jpg" /><b>Origen</b>
                <img src="~/Content/img/des.jpg" /><b>Destino</b>

            </div>
            <div id="mapg"></div>
            <script>
                function initMap() {
                    var directionsDisplay = new google.maps.DirectionsRenderer;
                    var directionsService = new google.maps.DirectionsService;
                    var map = new google.maps.Map(document.getElementById('mapg'), {
                        zoom: 14,
                        center: { lat: 37.77, lng: -122.447 }
                    });
                    directionsDisplay.setMap(map);

                    calculateAndDisplayRoute(directionsService, directionsDisplay);
                    document.getElementById('mode').addEventListener('change', function () {
                        calculateAndDisplayRoute(directionsService, directionsDisplay);
                    });
                }

                function calculateAndDisplayRoute(directionsService, directionsDisplay) {
                    var selectedMode = document.getElementById('mode').value;

                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(function (position) {

                            directionsService.route({
                                origin: { lat: position.coords.latitude, lng: position.coords.longitude },  // Haight.
                                destination: { lat: 9.905984, lng: -83.684192 },  // Ocean Beach.
                                // Note that Javascript allows us to access the constant
                                // using square brackets and a string value as its
                                // "property."
                                travelMode: google.maps.TravelMode[selectedMode]
                            }, function (response, status) {
                                if (status == 'OK') {
                                    directionsDisplay.setDirections(response);
                                } else {
                                    window.alert('Se ha producido un error en la solicitud de ' + status);
                                }
                            });

                            infoWindow.setPosition(pos);
                            infoWindow.setContent('Location found.');
                            map.setCenter(pos);
                        }, function () {
                            handleLocationError(true, infoWindow, map.getCenter());
                        });
                    } else {
                        // Browser doesn't support Geolocation
                        handleLocationError(false, infoWindow, map.getCenter());
                    }
                }
            </script>
            <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTuazTT4ftRrTOscHQYPabgJPLiBS9YXc&callback=initMap">
            </script>
        </div>
        <!-- END MAP -->
        <!-- Start Locations -->
        <section class="locations">

            <!-- Start Locations-Bottom -->
            <footer id="footer">
                <div class="footer-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 widget widget-about">
                                <h5 class="title">
                                    Dirección
                                </h5>
                                <p style="color:white">
                                    PO Box 16122 Avenida 0
                                    Turrialba
                                    Frente de la iglesia catolica
                                </p>
                                <p style="color:white">Visita Cuatrivago, abierto al público todos los días.</p>
                                <ul class="custom-list">
                                    <li><a href="#">Ir al mapa</a></li>

                                </ul>
                            </div>
                            <div class="col-md-4 widget widget-about">
                                <h5 class="title">
                                    Contacto
                                </h5>
                                <p style="color:white">Fax: 25561343</p>
                                <p style="color:white">Teléfono: @Model.phone</p>
                                <p style="color:white">Atención al cliente: @Model.postMail</p>
                                <p style="color:white">Sugerencias: @Model.email</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-copyrights">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <p>Copyright 2017© HotelCuatrivago. Todos los derechos reservados. Desarrollado por <a href="#"> CuatrivagoTeam</a></p>
                            </div>
                            <div class="col-md-3">
                                <a href="#">Facebook</a>
                            </div>
                            <div class="col-md-3">
                                <a href="#">Instragram</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- End Locations-Bottom -->
        </section>
        <!-- End Locations -->
        <!-- Start Footer -->
        <footer id="footer">

            <!-- Start Footer-Copyrights -->
            <div class="footer-copyrights">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p>Copyright 2015 Â© Cuatrivago. Todos los derechos reservados. Powered by <a href="#">Grupo cuatrivago</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Footer-Copyrights -->

        </footer>
        <!-- End Footer -->
    </div>
    <!-- End Main-Wrapper -->
    <!-- Scripts -->
    <script src="~/Content/js/jquery-2.1.4.min.js"></script>
    <script src="~/Content/js/scripts.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/gmap3.min.js"></script>
    <script src="~/Content/js/modal.js"></script>
    <script src="~/Content/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="~/Content/js/jquery.ba-outside-events.min.js"></script>
    <script src="~/Content/js/jqueryui.js"></script>
    <script src="~/Content/js/jquery.vide.min.js"></script>
    <script src="~/Content/js/tab.js"></script>
    <script src="~/Content/js/transition.js"></script>
    <script src="~/Content/js/jquery.matchHeight-min.js"></script>
</body>
<!-- Mirrored from new.uouapps.com/petra-html/locations.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 24 Mar 2017 03:20:47 GMT -->
</html>
