.hide-bullets {
    list-style: none;
    margin-left: -40px;
    margin-top: 20px;
}

.thumbnail {
    padding: 0;
}

#myGallery {
    /*margin-top: 130px;*/
    margin-bottom: 500px;
    /*padding-left: 40px;
    padding-right: 40px;*/
    /*padding-top: 400px;*/
    padding-bottom: 400px;


}
#ga {
   
    /*padding-left: 20px;
    padding-right: 20px;*/
    margin-bottom: 80px;
    /*padding-top: 400px;*/
    /*padding-bottom: 400px;*/


}
#aboutDescription {
    margin-top: 0px;
    margin-bottom: 30px;
}

#aboutP {
    text-align: center;
    font-size: 25px;
    line-height: 45px;
    text-align: justify;
}

#aboutT {
    text-align: center;
    font-size: 25px;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}
