@model IEnumerable<CuatrivagoProjectAdmin.Models.RoomType>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section moduleTitle{
   Registrar habitación
}

@section content{
    <!-- page content -->
    <div class="col-md-6 col-xs-12">
        <div class="x_panel">

            <div class="x_content">
                <br />
                <form class="form-horizontal form-label-left" method="POST" action="/CreateRoom/createRoom" id="form">

                    <div class="form-group">
                        <label class="control-label col-md-6 col-sm-6 col-xs-12">Tipo de habitación</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="form-control" id="type" name="type">
                                @foreach (var item in Model)
                                {
                                    <option value="@Html.DisplayFor(modelItem => item.id)">@Html.DisplayFor(modelItem => item.type)</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-6 col-sm-6 col-xs-12">Nombre habitación</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input  class="form-control" type="text" name="txtNameRoom" id="txtNameRoom" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-6 col-sm-6 col-xs-12">Capacidad personas</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input  class="form-control" type="number" name="txtCapacity" id="txtCapacity" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                            <input type="submit" class="btn btn-success" value="Crear" />
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <!-- page content -->

}

@section error{

    @if (Request.Cookies["error"] != null && Request.Cookies["error"]["errorCreate"] != null)
    {

        <script> $(document).ready(function () { modalSelect('¡Error al registrar!', 'Error'); $('#myModal').modal('show'); });</script>

    }
    @if (Request.Cookies["errorData"] != null && Request.Cookies["errorData"]["errorData"] != null)
    {

        <script> $(document).ready(function () { modalSelect('¡Debe ingresar todos los datos válidos!', 'Error'); $('#myModal').modal('show'); });</script>

    }

    <script>
        function modalSelect(modalMessage, modalTitle) {
            document.getElementsByClassName("modal-title")[0].textContent = modalTitle;
            document.getElementsByClassName("modal-body")[0].textContent = modalMessage;
        }
    </script>
}